<!DOCTYPE html>
<html>
<head>
<title>PerleBody</title>
<link href="style.css" rel="stylesheet" type="text/css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script type="text/javascript" src="scripts/jquery-1.10.1.js"></script> 
<script type="text/javascript" src="scripts/ShowProducts.js"></script>
<script type="text/javascript" src="scripts/ContentChanger.js"></script>
<script type="text/javascript" src="scripts/BasketHandler.js"></script>
<script type="text/javascript" src="scripts/basketInteraction.js"></script>
<script>
function allowDrop(ev)
{
ev.preventDefault();
}

function drag(ev)
{
ev.dataTransfer.setData("Text",ev.target.id);
}

function drop(ev)
{
	ev.preventDefault();
	var data=ev.dataTransfer.getData("Text");
	
	var basketList = document.getElementById("basketList");
	
	var ul = document.createElement(ul);
	ul.appendChild(document.getElementById(data));
	basketList.appendChild(ul);
}
</script>
<meta charset="utf-8">
</head>
<body>
	<div id="topMenu">
		<ul id="nav">
			<li class="first"><a href="#HOME" id="homePage">HOME</a></li>
			<li><a href="#PRODUCTS" id="productsPage">PRODUCTS</a></li>
			<li><a href="#ABOUT" id="aboutPage">ABOUT US</a></li>
			<li><a id="contactPage">CONTACT</a></li>
			<li class="login"><a id="loginPage">LOGIN</a></li>
		</ul>
	</div>
	<!-- <div id="basketContainer">
		<div class="panel">
			<br /> <br />
			<p>Magic basket!</p>
		</div>
		<p class="slide">
		<div class="pull-me">Shop Basket</div>
		</p>
	</div> -->
	<div id="basketContainer">
		 <div class="basket">
	       	<div id="basketList" class="basket_list" >
	           <div class="head">
	               <span class="name">Product name</span>
	               <span class="count">Quantity</span>
	           </div>
	            <ul id="list" ondrop="drop(event)" ondragover="allowDrop(event)">
	            </ul>
	        </div>
	    </div>
    </div>
	<div id="mainContainer">
		<h1>Perle's Body Shop</h1>
		<!-- <img src="images/body.jpg"></img> -->
	</div>
	<div id="footer">
		<ul>
			<li class="first"><a href="#">PerleBody</a></li>
			<li>Åbogade 34 - 5342 ADA026</li>
			<li>E-mail: <a href="mailto:11638@iha.dk?Subject=Help%20Me">11638@iha.dk</a>
				and <a href="mailto:11662@iha.dk?Subject=Help%20Me">11662@iha.dk</a>
				and <a href="mailto:201081020@iha.dk?Subject=Help%20Me">201081020@iha.dk</a></li>
		</ul>
	</div>
</body>
</html>