<p></p>
<h2>Products</h2>
<b>Choose a shop:</b>
<form>
	<select id="shopList" name="selectedShop"></select>
</form>
<table id="itemtablebody"></table>
<h2>Cart</h2>
<div>
<span>Total price for items in cart: </span>
<span id="totalPrice">0</span>
<button name="buy" id="btnBuy" onclick="buy()" >BUY</button>
</div>
<script type="text/javascript">
$(document).ready(function() {
	
 $.get('rest/shop/loggedInBool', function(loggedInResponse) {
  if(loggedInResponse == "true"){
    $('#btnBuy').attr("disabled", false); // enable buy button   
   }
  else {
   $('#btnBuy').attr("disabled", true); // disable buy button
  }
 });
 
});
</script>